/*Normalize*/
* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cinnabar: #e53030;
    --cerulean: #0493cf;
    --golden-fizz: #f9e63e;
    --jacksons-purple: #213295;
    --denim: #114ecb;
    --oracle: #3e6f7c;
}
.wrapper {
    display: flex;
}
.tabladeopciones {
    background-color: rgba(79, 247, 168, 0.5); 
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 20%;
    border-radius: 10px
}
.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.curso{
    display: flex;
    flex-direction: row;
    background-color: #4edd7d; /* Fondo de color gris claro */
    border-radius: 10px; /* Esquinas redondeadas */
    backdrop-filter: blur(5px); /* Efecto difuminado */
}
.curso *{ /* Para todos los elementos dentro de article curso*/
    margin: 3vh;
    border-radius: 3vh;
}
.curso img{
    border-radius: 1vh;
}

.informacion {
    display: flex;
    flex-grow: 1; 
    width: 50%;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.info-especial{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
}
.info-partida {
    flex: 1; /* Ocupa el espacio disponible de manera equitativa */
    max-width: 100vh; /* Limita cada sección a un máximo del 25% del ancho total */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 5px; /* Agrega un pequeño margen entre las secciones */
}
