/*Normalize*/
/* ultimo funcional: antes de grid
 * a0ec2a5ef682f86b53e05165da4d16536e73d57
 */
* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cinnabar: #7B241C;
    --cerulean: #0493cf;
    --golden-fizz: #F1C40F ;
    --jacksons-purple: #213295;
    --denim: #114ecb;
    --oracle: #3e6f7c;
}
.wrapper {
    display: grid;
    background-image: url('../img/chicaLofi.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    grid-template-areas:
    "tabladeopciones informacion"
    "tabladeopciones informacion"
}
.tabladeopciones {
    background-color: rgba(200, 236, 236, 0.747); 
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    border-radius: 10px;
    grid-area: tabladeopciones;
}
.imagenes{
    /*margin-left: 5%;*/
}
.imagenes img{
    margin-left: 10%;
    max-width: 80%;
}
.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    /*background-color: white;
    /*
    min-width: 19vh;
    */
}
.opciones li {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width: 15vh;
    height: 10vh;
    border: 3px solid rgba(169, 50, 38, 0.877);
    margin: 5vh;
    transition-duration: 0.4s;
}
.opciones li:hover{
    background-color: rgba(169, 50, 38, 0.877); 
}
.opciones li a {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    text-decoration: none !important; /* Elimina el subrayado */
    color: black; 
    transition-duration: 0.3s;
}
.opciones li a:hover {
    color: yellow;
}
li{
    list-style-type: none;
}

.cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.curso{
    display: flex;
    flex-direction: row;
    background-color: #F7DC6F  ; /* Fondo de color verde claro */
    border-radius: 10px;
    backdrop-filter: blur(5px); /* Efecto difuminado */
}
.curso *{ /* Para todos los elementos dentro de article curso*/
    margin: 3vh;
    border-radius: 3vh;
    transition-duration: 0.3s;
}
.curso img{
    border-radius: 1vh;
}

.informacion {
    display: flex;
    flex-grow: 1; 
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    grid-area: informacion;
}
.info-especial{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
}
.info-partida {
    flex: 1; /* Ocupa el espacio disponible de manera equitativa */
    max-width: 100vh; 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 5px; /* Agrega un pequeño margen entre las secciones */
}

