:root {
  --blue-transparent: rgb(17 78 203 / .9);
  --blue-solid: rgb(17 50 230);
  --red-transparent: rgb(229 48 48 / .9);
  --yellow-solid: rgb(247 227 7 / .9);
  --blue-gradient: radial-gradient(circle, rgba(11,146,168,1) 0%, rgba(41,122,219,1) 41%, rgba(9,80,149,1) 100%);
  --red-gradient: linear-gradient(45deg, rgba(229,48,48,0.01) 0%, rgba(229,48,48,0.15) 88%, rgba(229,48,48,1) 100%);
  --red: rgb(210 10 25 / .9);
}
.site-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh; 
    grid-template-columns: minmax(50px, 1fr) 13fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
      "aside header"
      "aside main"
    ;
}
aside {
    background-color: darkblue; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: aside;
    height: 100%;
    padding: 0 1em;
}
aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    list-style: none;
    padding: 0;
}
@media (width < 800px){
    .site-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 12fr 1fr;
        grid-template-areas: 
          "header"
          "main"
          "aside"
        ;
    }
    aside ul {
        flex-direction: row;
    }
    aside {
      padding: .3em 0;
    }
    aside li a {
        padding: 0 .5em;
    }
}
header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-solid);
    padding: .7em 0;

    & h1, & h2 {
        display: inline-flex;
        justify-content: start;
        align-items:center;

    }

    & h1 {
        background-color: var(--red);
        border-radius: 50em;
        padding: .2em .5em;
        color: white;
    }
    & h2 {
        color: rgb(230 230 230);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--yellow-solid);
            height: 2px;
        }
    }
}
@media (width < 480px) {
    header h2 {
        display: none;
    }
}
.header-logo {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    width: 11%;
    min-width: 90px;
}
.header-logo img {
    max-width: 100%;
}
aside li {
    border-radius: 50%;
    transition-duration: 0.4s;
    &:hover {
        animation: pulse 1s infinite;
        background-color: var(--red); 
        cursor: pointer;
    }
}
aside li a {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .15em;
    text-align: center;
    color: var(--yellow-solid);
    flex-direction: column;
    transition-duration: 0.3s;
    padding: .5em 0;
}



main {
    grid-area: main;
    overflow-y:auto;
    background-image: url('../img/chicaLofi.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 1em;
    gap: 1em;

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    );
    grid-template-rows: min-content;
}

.card {
  align-self: center;

  display: grid;
  grid-template-columns: repeat(
  auto-fit,
  minmax(230px, 1fr)
  );
  border-radius: 15px;
  background-color: var(--blue-transparent);
  padding: .7em;
  gap: .7em;
}
.img-card {
    & img {
        max-width: 100%;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.info-content {
  display: flex;
  flex-direction: column;
  gap: .6em;
}
.info-slider-container {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1em .7em 3em .7em;
  &::-webkit-scrollbar {
    background-color: lightblue;
    border-radius: 50em;
    height: 4px;
    width: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 50em;
  }
  &::-webkit-scrollbar-track {
    width: 50px;
  }
}
.info-slider-content {
  width: 100%;
  flex: 0 0 100%;
  gap: .8em;
  scroll-snap-align: center;

}
.info-content, .info-slider-content{
  & strong {
    font-size: .9em;
    background-color: var(--red);
    border-radius: 50em;
    padding: .2em .4em;
    color: white;
  }
  & span {
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -.2em;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--yellow-solid);
    }
  }
  & h2 {
    background-color: rgb(230 230 230);
    color: var(--blue-transparent);
    border-radius: 50em;
    padding: .3em .7em;
  }
  & h5 {
    text-align: center;
    color: white;
  }
}

.personal-card {
  grid-column: 1 / -1;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgb(227 247 7 / 0.3);
  }
  to {
    box-shadow: 0 0 0 11px rgb(227 247 7 / 0);
  }
}
