.site-wrap {
  gap: .5em;
}
.initial-header {
  background: var(--blue-gradient);
}
.courses-information {
  margin-top: 8%;
}
.card {
  --item: 0;
  align-self: center;
  position: sticky;
  width: 100%;
  max-width: 900px;
  top: 0;
  --distance-top: calc(14%);
}
.card1 {
  --item: 0;
}
.card2 {
  --item: 1;
}
.card3 {
  --item: 2;
}
.card4 {
  --item: 3;
}
.card5 {
  --item: 4;
}
.card6 {
  --item: 5;
}
.card7 {
  --item: 6;
}
.card8 {
  --item: 7;
}
.card9 {
  --item: 8;
}
.card10 {
  --item: 9;
}
.card11 {
  --item: 10;
}
@media (height > 500px){
  .card {
    --distance-top: calc(23%);
  }
}
@media (height > 600px){
  .card {
    --distance-top: calc(8%);
  }
}
@media (height > 600px) and (width > 1000px){
  .card {
    --distance-top: calc(17%);
  }
}
@media (height > 700px){
  .card {
    --distance-top: calc(16%);
  }
}
@media (height > 800px){
  .card {
    --distance-top: calc(7%);
  }
}
@media (height > 1000px){
  .card {
    --distance-top: calc(10%);
  }
}
.card {
  top: var(--distance-top);
  padding-top: calc(var(--item) * 1em);
  margin-bottom: calc(var(--item) * 1em);
}
.card-content {
  width: 100%;
  /*height: 40vh;*/
  border-radius: 15px;
  outline: var(--red) 2px solid;
  animation: stackcards linear both;
  animation-timeline: view();
  padding: 1em .5em;
  gap: 2em;

  max-height: 520px;
  background-color: var(--color-header);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
}
.container-cards {
  position: relative;
  gap: 4em;
}

@keyframes stackcards {
  to {
    transform: scale(calc(var(--item) * 0.05 + 0.7));
  }
}


.title-card, .info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-direction: column;
}
.info-card {
  flex-direction: row;
  justify-content: start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1em .7em 3em .7em;
  &::-webkit-scrollbar {
    background-color: lightblue;
    border-radius: 50em;
    height: 4px;
    width: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 50em;
  }
  &::-webkit-scrollbar-track {
    width: 50px;
  }
}
.title-card h2 {
  background-color: rgb(225 225 225);
  border-radius: 50em;
  padding: .4em;
}
.title-card h3 {
  color: lightblue;
  font-size: 1.2em;
  padding: .4em 2em;
  text-align:left;
  text-wrap: balance;
}
.info-card h3{
  background-color: var(--red);
  color: white;
  border-radius: 50em;
  padding: .4em .5em;
}

.info-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: .8em;
  flex: 0 0 100%;
  scroll-snap-align: center;
}
.info-card .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .4em;
  flex-wrap: wrap;
  & h4 {
    position: relative;
    margin: .4em .5em;
    color: rgb(10 10 10);
  }
  & h4::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -.3em;
    left: 0;
    border: var(--hover-nav) 1px solid;
    border-radius: 50em;
  }
}
