/*
 * Declaración de algunas variables
 */
:root {
  --color-header: rgb(17 78 203 / .9);
  --color-nav: rgb(229 48 48 / .9);
  --hover-nav: rgb(247 227 7 / .9);
  --blue-gradient: radial-gradient(circle, rgba(11,146,168,1) 0%, rgba(41,122,219,1) 41%, rgba(9,80,149,1) 100%);
}
/*
 * Envoltura del sitio, se organiza en columnas (verticalmente)
 */
.site-wrap {
  display: flex;
  flex-direction: column;
  font-family: 'Asap', sans-serif;
}
/*
 * Todos los contenedores son de tipo flex
 */
.container {
  display: flex;
}
/*
 * La parte superior que queda fijada
 */
.fixed-up {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
/*
 * Esta es la capa superpuesta a las imágenes que brinda
 * la opacidad al fondo
 */
.opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / .2); 
}
/*
 * El header tiene sus elementos organizados en los extremos,
 * además, tiene su animación propia
 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 8%;
  animation: fixedheader linear both;
}
/*
 * Otorgádonle una animación a la barra de navegación
 */
nav{
  animation: fixednav linear both, link-nav linear both;
}
/*
 * Organizando la barra de navegación
 */
.nav-bar {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  padding: 0;
}
/*
 * Cada elemento en la lista desordenada
 */
.nav-li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  transition: flex-grow 0.4s linear;
  &:hover {
    flex-grow: 1.02;
  }
}
/*
 * Enlace en la barra de navegación
 */
.nav-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  transition: background 0.2s linear;
  border-radius: 5px;

  &:hover {
    color: black;
    background-color: var(--hover-nav);
  }
}
/*
 * La imagen inicial contenida en una picture, no debe
 * desbordarese del mismo
 */
.initial-image {
  display: flex;
  align-items: flex-end;
  background: var(--blue-gradient);
  & img {
    max-width: 100%;
    padding: 4% 20% 0 20%;
  }
}
/*
 * El contenedor del logo ubicado en el header
 */
.site-logo {
  padding: 10px 0;
  width: 12%;
  min-width: 100px;
}
/*
 * El contenedor de los botones de redes sociales y de acceder 
 * ubicados en el header, tienen una separación adecuada
 */
.social-wrap {
  display: flex;
  gap: 2vw;
  font-size: 100%;
}
/*
 * Estilos de cada uno de los botones ubicados en el header
 */
.reference {
  font-weight: bold;
  position: relative;
  background-color: var(--hover-nav);   
  outline: transparent 2px solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 90%;
  min-width: 20px;
  transition: background 0.2s linear;

  &:hover {
    animation: pulse 1s infinite;
    background-color: var(--color-nav);
    color: var(--hover-nav);
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0.2);
  }
  to {
    box-shadow: 0 0 0 8px rgb(0 0 0 / 0);
  }
}
/*
 * El logo ubicado en el header
 */
.img-show {
  width: 100%;
}
/*
  * Animaciones del header y el nav, las cuales cambian el
  * color de fondo de dichos elementos
 */
@keyframes fixedheader{
  to {
    background: var(--color-header);
    backdrop-filter: blur(5px);
  }
}
@keyframes fixednav{
  to {
    background: var(--color-nav);
    backdrop-filter: blur(5px);
  }
}
@keyframes link-nav {
  from{
    opacity: 0;
    display: none;
  }
  to{
    opacity: 1;
    display: block;
  }
}
/*
 * El rango de la animación se define teniendo en cuenta la imagen
 * inicial, además se hace de acuerdo al scroll de toda la página
 */
.animate-scroll {
  animation-range: 45vh 60vh;
  animation-timeline: scroll(root);
}
